# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/test-results/

# next.js
/.next/
/out/
/public/adhd-flow/
/public/fitness/
/public/storage/
/public/health/

# production
/build

# misc
.DS_Store
*.icloud
*.pem
/var/
/README 2.md
/inner-shelter-ios/
/Airbnb_Price_Prediction2.pptx
/Milestone3_Jing_Duan.ipynb
/Project 1/
/app/portfolio/
/components/About.tsx
/components/Contact.tsx
/components/Hero.tsx
/components/LifeInterests.tsx
/components/Portfolio.tsx
/components/Values.tsx
/forecasting_system.ipynb
/milestone2_Jing_Duan.pdf
database/*.db
database/*.sqlite
database/**/*.db
database/**/*.sqlite

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
